@media screen and (min-width: 700px) {
  header .nav-list {
    display: flex !important;
  }

  .header-menu {
    display: none !important;
  }

  .nav {
    display: none;
  }

  .hero-inner {
    height: 500px !important;
  }

  .hero-text {
    top: 200px;
  }

  .hero-text .hero-title {
    font-size: 36px;
  }

  .hero-text .hero-tagline {
    font-size: 16px;
  }

  .resto-cards {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 10px;
      grid-row-gap: 16px;
  }

  .promo-thumbs {
    flex-direction: row;
  }

  .promo-thumb {
    width: 400px;
  }

  .promo-thumb:first-of-type {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 900px) {
  .header-menu {
    display: none !important;
  }

  .nav {
    display: none;
  }

  .hero-inner {
    height: 600px !important;
  }

  .hero-text {
    top: 250px;
  }

  .hero-text .hero-title {
    font-size: 40px;
  }

  .hero-text .hero-tagline {
    font-size: 20px;
  }

  .headline {
      display: grid;
      grid-template-columns: 1fr 1fr;
  }

  .resto-cards {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
  }
  
}

@media screen and (min-width: 1200px) {
  .header-menu {
    display: none !important;
  }

  .hero-inner {
    max-height: 600px !important;
  }
  

  .hero-text .hero-title {
    font-size: 44px;
  }  

  .nav {
    display: none;
  }

  main {
      max-width: 1200px;
      margin: 3em auto;
  }
}